# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Data files
data/raw/
#data/processed/
data/processed/merged_tennis_data.csv
#*.csv
*.db
#*.duckdb
*.sqlite
outputs/all_points_with_importance_local.csv
outputs/all_points_with_importance.csv