# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Data files
data/raw/
data/processed/
!data/processed/player_countries.csv   # keep this one
# merged_tennis_data.csv stays ignored

#*.db
*.duckdb
*.sqlite
outputs/all_points_with_importance_local.csv
outputs/all_points_with_importance.csv
outputs/all_points_with_importance.parquet

